@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="fixed-header bg-master-lighter  ">

    <nav class="page-sidebar" data-pages="sidebar">

        @Html.Partial("_SidebarMenu")
    </nav>
    <div class="page-container">
        @Html.Partial("_Header")
        <div class="page-content-wrapper">
            <div class="content">
                <div class="container-fluid container-fixed-lg sm-p-l-5">
                    <div class="timeline-container top-circle">
                        <section class="timeline">
                            <div class="timeline-block">
                                <div class="timeline-point success">
                                    <i class="fa fa-motorcycle"></i>
                                </div>
                                <!-- timeline-point -->
                                <div class="timeline-content">
                                    <div class="card share full-width">
                                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                                        </div>
                                        <div class="card-header clearfix">
                                            <div class="user-pic">
                                                <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8x.jpg">
                                            </div>
                                            <h5>KTM Duke 200</h5>
                                            <h6>
                                                ~16000 kms
                                                <span class="location semi-bold"><i class="fa fa-map-marker"></i> İstanbul, Türkiye</span>
                                            </h6>
                                        </div>
                                        <div class="card-description">
                                            <p>I think, this motorcycle is best friend of cityboy. <a href="#">#duke</a> </p>
                                            @*<div class="via">via Twitter</div>*@
                                        </div>

                                        <div class="card-footer clearfix">
                                            <div class="time">15 January 2015, 06:50 PM</div>
                                            <ul class="reactions">
                                                <li>
                                                    <a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#">23K <i class="fa fa-heart-o"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="event-date">
                                        <h6 class="font-montserrat all-caps hint-text m-t-0">KTM Duke 200</h6>
                                        <small class="fs-12 hint-text">03.04.2011 - ~</small>
                                    </div>
                                </div>
                                <!-- timeline-content -->
                            </div>
                            <!-- timeline-block -->
                            <div class="timeline-block">
                                <div class="timeline-point small">
                                </div>
                                <!-- timeline-point -->
                                <div class="timeline-block">
                                    <div class="timeline-point dz-default">
                                        <i class="fa fa-motorcycle"></i>
                                    </div>
                                    <!-- timeline-point -->
                                    <div class="timeline-content">
                                        <div class="card share full-width">
                                            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                                            </div>
                                            <div class="card-header clearfix">
                                                <div class="user-pic">
                                                    <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/8x.jpg" data-src="assets/img/profiles/8.jpg" src="assets/img/profiles/8x.jpg">
                                                </div>
                                                <h5>KTM Duke 125</h5>
                                                <h6>
                                                    ~18500 kms
                                                    <span class="location semi-bold"><i class="fa fa-map-marker"></i> Ankara, Türkiye</span>
                                                </h6>
                                            </div>
                                            <div class="card-description">
                                                <p>I think, this motorcycle is best little friend of cityboy. <a href="#">#duke</a> </p>
                                                @*<div class="via">via Twitter</div>*@
                                            </div>

                                            <div class="card-footer clearfix">
                                                <div class="time">15 January 2015, 06:50 PM</div>
                                                <ul class="reactions">
                                                    <li>
                                                        <a href="#">5,345 <i class="fa fa-comment-o"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#">23K <i class="fa fa-heart-o"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="event-date">
                                            <h6 class="font-montserrat all-caps hint-text m-t-0">KTM Duke 125</h6>
                                            <small class="fs-12 hint-text">03.04.2009 - 11.07.2010</small>
                                        </div>
                                    </div>
                                    <!-- timeline-content -->
                                </div>
                                <!-- timeline-content -->
                            </div>
                            <!-- timeline-block -->
                            <div class="timeline-block">
                                <div class="timeline-point warning">
                                    <i class="pg-social"></i>
                                </div>
                                <!-- timeline-point -->
                                <div class="timeline-content">
                                    <div class="card share full-width ">
                                        <div class="card-header clearfix">
                                            <h5 class="text-warning-dark pull-left fs-12">Stock Market <i class="fa fa-circle text-warning-dark fs-11"></i></h5>
                                            <div class="pull-right small hint-text">
                                                5,345 <i class="fa fa-comment-o"></i>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="card-description">
                                            <h5 class='hint-text no-margin'>Apple Inc.</h5>
                                            <h5 class="small hint-text no-margin">NASDAQ: AAPL - Nov 13 8:37 AM ET</h5>
                                            <h3>111.25 <span class="text-warning-dark"><i class="fa fa-sort-up small text-warning-dark"></i> 0.15 (0.13%)</span></h3>
                                        </div>
                                        <div class="card-footer clearfix">
                                            <div class="pull-left">
                                                by <span class="text-warning-dark">John Smith</span>
                                            </div>
                                            <div class="pull-right hint-text">
                                                Apr 23
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="event-date">
                                        <h6 class="font-montserrat all-caps hint-text m-t-0">Shared</h6>
                                        <small class="fs-12 hint-text">15 January 2015, 06:50 PM</small>
                                    </div>
                                </div>
                                <!-- timeline-content -->
                            </div>
                            <!-- timeline-block -->
                            <div class="timeline-block">
                                <div class="timeline-point small">
                                </div>
                                <!-- timeline-point -->
                                <div class="timeline-content">
                                    <div class="card share full-width ">
                                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                                        </div>
                                        <div class="card-header clearfix">
                                            <div class="user-pic">
                                                <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/6x.jpg" data-src="assets/img/profiles/6.jpg" src="assets/img/profiles/6x.jpg">
                                            </div>
                                            <h5>Nathaniel Hamilton</h5>
                                            <h6>
                                                Shared a Tweet
                                                <span class="location semi-bold"><i class="icon-map"></i>  NYC, New York</span>
                                            </h6>
                                        </div>
                                        <div class="card-description">
                                            <p>Testing can show the presense of bugs, but not their absence.</p>
                                            <div class="via">via Twitter</div>
                                        </div>
                                    </div>
                                    <div class="event-date">
                                        <small class="fs-12 hint-text">15 January 2015, 06:50 PM</small>
                                    </div>
                                </div>
                                <!-- timeline-content -->
                            </div>
                            <!-- timeline-block -->
                            <div class="timeline-block">
                                <div class="timeline-point small">
                                </div>
                                <!-- timeline-point -->
                                <div class="timeline-content">
                                    <div class="card share full-width">
                                        <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                                        </div>
                                        <div class="card-header clearfix">
                                            <div class="user-pic">
                                                <img alt="Profile Image" width="33" height="33" data-src-retina="assets/img/profiles/4x.jpg" data-src="assets/img/profiles/4.jpg" src="assets/img/profiles/4x.jpg">
                                            </div>
                                            <h5>Andy Young</h5>
                                            <h6>
                                                Updated his status
                                                <span class="location semi-bold"><i class="icon-map"></i> NYC, New York</span>
                                            </h6>
                                        </div>
                                        <div class="card-description">
                                            <p>What a lovely day! I think I should go and play outside.</p>
                                        </div>
                                    </div>
                                    <div class="event-date">
                                        <small class="fs-12 hint-text">15 January 2015, 06:50 PM</small>
                                    </div>
                                </div>
                                <!-- timeline-content -->
                            </div>
                            <!-- timeline-block -->
                        </section>
                        <!-- timeline -->
                    </div>
                    <!-- -->
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
    @Html.Partial("_QuickView")
    @Html.Partial("_Search")
    @Html.Partial("_Scripts")
</body>
